In [22]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [23]:
cd Downloads

[Errno 2] No such file or directory: 'Downloads'
/home/inaya/Downloads

In [24]:
df = pd.read_csv("homeprices.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [25]:
df.bedrooms.median()

4.0

In [26]:
df.bedrooms = df.bedrooms.fillna(df.bedrooms.median())
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [27]:
reg = linear_model.LinearRegression()
reg.fit(df.drop('price',axis = 'columns'), df.price)

LinearRegression()

In [28]:
reg.coef_

array([  112.06244194, 23388.88007794, -3231.71790863])

In [29]:
reg.intercept_

221323.00186540396

In [30]:
reg.predict([[3600,3,30]])

array([597962.89583192])

In [31]:
221323.00186540396 + 112.06244194 *3600+23388.88007794*3+(-3231.71790863)*30

597962.895824324